body{
   background: #c5dfc5
}

i{
    color: #e7f2e7;
   font-size: 15em;

}

h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    
}
h1 span{
    font-size: 0.5em;
    
}

.icon{

    
}
nav {
    color: black;
    margin: 0% auto
}
nav a{
    color: black;
    
}